.favorites-title {
    font-weight: 800;
    margin-bottom: 12px;
    color: white;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}

.search-text {
    font-weight: bold;
}

.favorite-card {
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 15px;
    color: black;
    height: 100%;
}

.favorite-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 10px;
}

.favorite-title {
    margin: 10px 0;
    font-size: 20px;
    color: black;
}

.remove-btn {
    border: none;
    background-color: #efe5db;
    padding: 8px 14px;
    border-radius: 10px;
    cursor: pointer;
}

.remove-btn:hover {
    background-color: blanchedalmond;
}

.empty-message {
    color: white;
}